<h2>Mes Appareils</h2>
<p>Mis à jour : {{ lastUpdate | date: 'short' | lowercase }}</p>
<ul class="list-group">
  <app-appareil *ngFor="let appareil of appareils; let i = index" [appareilName]="appareil.name"
    [appareilStatus]="appareil.status" [index]="i" [id]="appareil.id"></app-appareil>
</ul>
<button class="btn btn-success mr-2" [disabled]="!isAuth" (click)="onAllumer()">Tout Allumer</button>
<button class="btn btn-danger" [disabled]="!isAuth" (click)="onEteindre()">Tout éteindre</button>